#nav-center-logo-menu-social {
    background: transparent;
}

#nav-center-logo-menu-social .nav-bg {
    background: linear-gradient(135deg, #111111, #000000);
    background: -webkit-linear-gradient(315deg, #111111, #000000);
}

#header-slogan-border {
    background: radial-gradient(circle, #536188 30%, #FFEEE7 70%);
    background: -webkit-radial-gradient(circle, #FFEEE7 30%, #536188 70%);
}

#header-slogan-border .bg {
    background-image: url('../images/bg-31.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    opacity: 0.47;
}
#desc-center-text {
    background: radial-gradient(circle, #c5ddff 30%, #c5ddff 70%);
    background: -webkit-radial-gradient(circle, #c5ddff 30%, #c5ddff 70%);
}

/*#desc-center-text {*/
/*    background: radial-gradient(circle, #4C7DA6 1%, #E9F5FF 80%);*/
/*    background: -webkit-radial-gradient(circle, #E9F5FF 1%, #4C7DA6 80%);*/
/*}*/

#desc-center-text .bg {
    background-image: url('../images/bg-24.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.07;
    /*opacity: 0.47;*/

}#action-text-phone {
    /*background: #f8f9fb;*/
    background: radial-gradient(circle, #FFEEE7 30%, #FFEEE7 70%);
    background: -webkit-radial-gradient(circle, #FFEEE7 30%, #FFEEE7 70%);
}

#action-text-phone .bg {
    background-image: url('../images/bg-6.jpg');
    background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-repeat: no-repeat;
    /*background-position: center center;*/
    background-position: center center;
    opacity: 0.7
}

#footer-logo-share-subscribe{
    background-color: #536188;
;
}

#benefit-center-text-4col {
    background: radial-gradient(circle, #536188 30%, #536188 70%);
    background: -webkit-radial-gradient(circle, #536188 30%, #536188 70%);
}
#benefit-center-text-4col .bg{
    background-image: url('../images/bg-23.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.05;
}

#gallery-list-2col-mix {
    background: radial-gradient(circle, #c5ddff 30%, #c5ddff 70%);
    background: -webkit-radial-gradient(circle, #c5ddff 30%, #c5ddff 70%);
}
#gallery-list-2col-mix .bg{
    background-image: url('../images/bg-25.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.05;
}