#nav-center-logo-menu-social {
    background: radial-gradient(circle, #273162 30%, #6478b7 70%);
    background: -webkit-radial-gradient(circle, #6478b7 30%, #273162 70%);
}
/*#nav-center-logo-menu-social .nav-bg {*/
/* 	opacity: 1;*/
/*}*/

#nav-center-logo-menu-social .nav-bg {
 	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.01;
}


#header-slogan-border {
    background: radial-gradient(circle, #6478b7 30%, #FFEEE7 70%);
    background: -webkit-radial-gradient(circle, #FFEEE7 30%, #6478b7 70%);
}

#header-slogan-border .bg {
    /*background-image: url('../images/bg-31.jpg');*/
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    opacity: 0.47;
}
#desc-center-text {
    background: #6478b7;
    /*background: radial-gradient(circle, #6478b7 30%, #6478b7 70%);*/
    /*background: -webkit-radial-gradient(circle, #6478b7 30%, #6478b7 70%);*/
}

#desc-center-text .bg {
    /*background-image: url('../images/bg-24.png');*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.1;
    /*opacity: 0.47;*/

}

#action-text-phone {
    background: #ebf3fe;
}

#action-text-phone .bg {
    /*background-image: url('../images/bg-6.jpg');*/
    background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-repeat: no-repeat;
    /*background-position: center center;*/
    background-position: center center;
    opacity: 0.4;
}


#benefit-center-text-4col {
    background: #c7dbff;
    /*background: radial-gradient(circle, #c7dbff 30%, #c7dbff 70%);*/
    /*background: -webkit-radial-gradient(circle, #c7dbff 30%, #c7dbff 70%);*/
}
#benefit-center-text-4col .bg{
    /*background-image: url('../images/bg-23.jpg');*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.06;
}

#gallery-list-2col-mix {
    background: #c7dbff;
    /*background: radial-gradient(circle, #c7dbff 30%, #c7dbff 70%);*/
    /*background: -webkit-radial-gradient(circle, #c7dbff 30%, #c7dbff 70%);*/
}
#gallery-list-2col-mix .bg{
    /*background-image: url('../images/bg-25.png');*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.06;
}

.phone{
    font-family: 'Roboto'!important;
	font-size: 72px!important;
	font-style: initial!important;
	font-weight: 100!important;
	text-transform: inherit!important;
}