{% extends "base.html" %}
{% load static %}

{% block content %}
    <div id="preloader">
        <div class="circles">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
{#    <nav id="nav-center-logo-menu-social" class="navbar navbar-fixed-top dark">#}
{#        <div class="container">#}
{#            <div class="navbar-header">#}
{#                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"><span#}
{#                        class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>#}
{#                <div class="navbar-brand"><img src="static/images/logo2-light.png"#}
{#                                               srcset="static/images/logo2-light@2x.png 2x" alt="Your logo" class="">#}
{#                </div>#}
{#            </div>#}
{#            <div id="navbar" class="navbar-collapse collapse">#}
{#                <ul class="nav navbar-nav navbar-center">#}
{#                    <li class=""><a href="#"><span>About</span></a></li>#}
{#                    <li class=""><a href="#"><span>Screenshots</span></a></li>#}
{#                    <li class=""><a href="#"><span>Stories</span></a></li>#}
{#                </ul>#}
{#                <ul class="social-list navbar-right">#}
{#                    <li class="">#}
{#                        <a href="#"><i class="icon-dribbble icon-size-m"></i></a>#}
{#                    </li>#}
{#                    <li class="">#}
{#                        <a href="#"><i class="icon-behance icon-size-m"></i></a>#}
{#                    </li>#}
{#                    <li class="">#}
{#                        <a href="#"><i class="icon-envelope-o icon-size-m"></i></a>#}
{#                    </li>#}
{#                </ul>#}
            </div>
        </div>
        <div class="nav-bg dark"></div>
    </nav>
    <div id="wrap">
        <header id="header-slogan-border" class="pt-150 pb-150 text-center light">
            <div class="container">
                <div class="row flex-md-vmiddle">
                    <div class="">
                        <div class="border-box padding-box mb-100 mt-100" style="border-color:#222;">
{#                            <br><br>#}
                            <h1 class="my-5"><span class="text-uppercase"><strong>ДЕНЬ МИЛОСЕРДИЯ</strong><br>БЛАГОТВОРИТЕЛЬНЫЙ ПРОЕКТ</span>
                            </h1>
{#                            <br><br>#}
                        </div>
                        <p class="">Наше призвание - протягивать руку помощи</p>
                    </div>
                </div>
            </div>
            <div class="bg"></div>
        </header>
        <section id="desc-center-text" class="pt-125 pb-150 dark text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h2 class="mb-25"><span class="text-uppercase"><strong>Our story</strong></span></h2>
                        <h3 class="mb-75"><em>Since 1914</em></h3>
                        <p class="">
                            So, what is the secret of successful template design? First of all, it is its friendliness –
                            both for the template’s owner and for his or her future targeted audience. UX and UI are not
                            just empty phrases for us. It is very important for us that the user could understand
                            correctly the message your project’s trying to say to him or her. But, correct giving of the
                            information is just a half of success. Emotions that causes your project in visitor are no
                            less important ticket to success
                        </p>
                    </div>

                </div>
            </div>
            <div class="bg"></div>
        </section>
        <section id="benefit-center-text-4col" class="pt-150 pb-150 text-center light">
            <div class="container">
                <h2 class="">Just few easy steps</h2>
                <p class="compressed-box-50 mb-75">In the tumultuous business of cutting-in and attending to a whale,
                    there is much running backwards and forwards among the crew. Now hands are wanted here, and then
                    again hands are wanted there.</p>
                <div class="row">
                    <div class="col-md-3">
                        <div class="card card-simple">
                            <i class="card-icon icon-size-xl icon-pencil-ruler2 icon-color mb-25"></i>
                            <h3 class="">1. Flexibility</h3>
                            <p class="mb-25">The given template is armed with the number of settings, so you can easily
                                adapt it ...
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card card-simple">
                            <i class="card-icon icon-size-xl icon-window icon-color mb-25"></i>
                            <h3 class="">2. Pure design</h3>
                            <p class="mb-25">No fluff. Nothing should lead the visitor away from the main essence of
                                website.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card card-simple">
                            <i class="card-icon icon-size-xl icon-heart icon-color mb-25"></i>
                            <h3 class="">3. The Heart</h3>
                            <p class="mb-25">So, what is the secret of successful template design? First of all, it is
                                its ... </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card card-simple">
                            <i class="card-icon icon-size-xl icon-wallet icon-color mb-25"></i>
                            <h3 class="">4. New level</h3>
                            <p class="mb-25">Do you want to create a new project or to update the previous one? So, this
                                ... </p>
                        </div>
                    </div>
                </div>
                <a href="#" class="btn btn-primary mt-50"><span><strong>Start</strong> today!</span></a>
            </div>
            <div class="bg"></div>
        </section>
        <section id="action-text-phone" class="pt-100 pb-100 light">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h2 class="">We are waiting for your call</h2>
                    </div>
                    <div class="col-md-8 text-md-right">
                        <h1>
                            <mark>+1(890)1321312</mark>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="bg parallax-bg" data-top-bottom="transform:translate3d(0px, 25%, 0px)"
                 data-bottom-top="transform:translate3d(0px, -25%, 0px)"></div>
        </section>
        <section id="gallery-list-2col-mix" class="pt-100 pb-100 text-center light">
            <div class="container">
                <h3 class="">Gallery</h3>
                <h2 class="mb-75"><strong>Students works</strong></h2>
                <div class="row gallery">
                    <div class="col-md-6">
                        <a href="static/images/screen-29.jpg" class="gallery-box">
                            <i class="icon icon-size-m icon-plus"></i>
                            <span class="caption">Gallery item with zoom option</span>
                            <img src="static/images/screen-29.jpg" alt="screen">
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="https://www.google.com.ua" target="_blank" class="gallery-box external">
                            <i class="icon icon-size-m icon-link"></i>
                            <span class="caption">Item with external link</span>
                            <img src="static/images/screen-30.jpg" alt="screen">
                        </a>
                        <div class="row">
                            <div class="col-md-6">
                                <a href="static/images/screen-31.jpg" class="gallery-box">
                                    <i class="icon icon-size-m icon-plus"></i>
                                    <span class="caption">Gallery item with zoom option</span>
                                    <img src="static/images/screen-31.jpg" alt="screen">
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a href="https://vimeo.com/123395658" class="gallery-box mfp-iframe">
                                    <i class="icon icon-size-m icon-ion-ios-play-outline"></i>
                                    <span class="caption">Video item</span>
                                    <img src="static/images/screen-32.jpg" alt="screen">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#" class="btn btn-default mt-75"><span>Older works</span><i
                        class="icon-position-right icon-size-m icon-arrow-right"></i></a>
            </div>
            <div class="bg"></div>
        </section>
        <footer id="footer-logo-share-subscribe" class="dark pt-100 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-md-push-5">
                        <div class="row">
                            <div class="col-sm-3">
                                <h4 class="">Learn more</h4>
                                <ul class="text-list">
                                    <li>
                                        <a href="#">Tour</a>
                                    </li>
                                    <li class="">
                                        <a href="#">Customers</a>
                                    </li>
                                    <li class="">
                                        <a href="#">Pricing and Plans</a>
                                    </li>
                                    <li class="">
                                        <a href="#">New Features</a>
                                    </li>
                                    <li class="">
                                        <a href="#">Education</a>
                                    </li>

                                </ul>
                            </div>
                            <div class="col-sm-3">
                                <h4 class="">Extras</h4>
                                <ul class="text-list">
                                    <li class="">
                                        <a href="#">Marketplace</a>
                                    </li>
                                    <li class="">
                                        <a href="#">Design</a>
                                    </li>
                                    <li class="">
                                        <a href="#">Team Sync</a>
                                    </li>
                                    <li class="">
                                        <a href="#">Disruptors</a>
                                    </li>
                                    <li class="">
                                        <a href="#">Free T-Shirt</a>
                                    </li>

                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <form action="./scripts/request.php" class="contact_form form-inline form-flex"
                                      novalidate="novalidate" id="footer-logo-share-subscribe-form">
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Enter your email"
                                               name="EMAIL">
                                    </div>
                                    <button type="submit" data-loading-text="•••" data-complete-text="Completed!"
                                            data-reset-text="Try again later..." class="btn btn-link"><span>GO</span>
                                    </button>
                                </form>
                                <small class="desc-text"><span>Follow us in social networks. You can also subscribe for our news. We are going to provide you with actual and important for you information without spam or fluff.</span>
                                </small>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-5 col-md-pull-7">
                        <div class="clearfix mb-50">
                            <img src="static/images/logo.png" srcset="static/images/logo@2x.png 2x" alt="Your logo"
                                 class="pull-left-md">
                            <div class="pull-left-md"><span>© Multifour.com.<br>All rights reserved.</span></div>
                        </div>
                        <ul class="share-list">
                            <li class="">
                                <a href="#" class="goodshare" data-type="fb"><i
                                        class="icon-facebook"></i><span>Share</span><span data-counter="fb"></span></a>
                            </li>
                            <li class="">
                                <a href="#" class="goodshare" data-type="tw"><i
                                        class="icon-twitter"></i><span>Tweet</span><span data-counter="tw"></span></a>
                            </li>
                            <li class="">
                                <a href="#" class="goodshare" data-type="gp"><i
                                        class="icon-google-plus"></i><span>Share</span><span
                                        data-counter="gp"></span></a>
                            </li>
                            <li class="">
                                <a href="#" class="goodshare" data-type="li"><i
                                        class="icon-linkedin"></i><span>Share</span><span data-counter="li"></span></a>
                            </li>
                            <li class="">
                                <a href="#" class="goodshare" data-type="pt"><i
                                        class="icon-pinterest-p"></i><span>Share</span><span
                                        data-counter="pt"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="bg"></div>
        </footer>
    </div>
    <footer></footer>
    <div class="modal-container">
        <section class="modal fade modal-confirm flex-center" id="popup-list-form" tabindex="-1" role="dialog"
                 aria-hidden="true" style="display: none;">
            <div class="modal-dialog modal-lg">
                <div class="modal-content light">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <h2 class="mb-30">Drop us a line</h2>
                                <p class="mb-30">In our work we try to use only the most modern, convenient and
                                    interesting solutions. We want the template you downloaded look unique and new for
                                    such a long time as it is possible.</p>
                                <ul class="text-icon-list">
                                    <li><i class="icon-map2 icon-size-m"></i><span>Our Location Address</span></li>
                                    <li><i class="icon-at-sign icon-size-m"></i><span>Our Email</span></li>
                                    <li><i class="icon-phone-incoming icon-size-m"></i><span>Our Phone</span></li>
                                    <li><i class="icon-clock icon-size-m"></i><span>Our Work Hours</span></li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <form action="./scripts/request.php" class="contact_form mb-0" novalidate="novalidate"
                                      id="popup-list-form-form">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Full name" name="NAME">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Email Address"
                                               name="EMAIL">
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" rows="6" placeholder="Your message or question"
                                                  name="MESSAGE"></textarea>
                                    </div>
                                    <button type="submit" data-loading-text="•••" data-complete-text="Completed!"
                                            data-reset-text="Try again later..." class="btn btn-success btn-block"><i
                                            class="icon-paper-plane icon-position-left icon-size-m"></i><span>Send Message</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="bg"></div>
                </div>
            </div>
        </section>
        <section class="modal fade modal-confirm flex-center" id="popup-center-form" tabindex="-1" role="dialog"
                 aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content text-center light">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body">
                        <h2 class="mb-30">Drop us a line</h2>
                        <p class="small mb-30">In our work we try to use only the most modern, convenient and
                            interesting solutions. We want the template you downloaded look unique and new for such a
                            long time as it is possible.</p>
                        <form action="./scripts/request.php" class="contact_form mb-0" id="popup-center-form-form">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Full name" name="NAME">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email Address" name="EMAIL">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" rows="6" placeholder="Your message or question"
                                          name="MESSAGE"></textarea>
                            </div>
                            <button type="submit" data-loading-text="•••" data-complete-text="Completed!"
                                    data-reset-text="Try again later..." class="btn btn-primary btn-block"><i
                                    class="icon-paper-plane icon-position-left icon-size-m"></i><span>Send Message</span>
                            </button>
                        </form>
                    </div>
                    <div class="bg"></div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
		
