{% extends "base.html" %}
{% load static %}

{% block content %}


    <div id="preloader">
        <div class="circles">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
        <nav id="nav-center-logo-menu-social" class="navbar navbar-fixed-top dark">
            <div class="container">
                <div class="navbar-header" style="position: absolute; left:40px; z-index: 1000;">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" style="position: fixed; right:10%;z-index: 1000;"><span
                            class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                    <div class="navbar-brand"><a href="/"><img src="../../static/images/logo2-light.png"
                                                   alt="Logo" height="50px"
                                                   class=""></a> </div>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-center">
                        {%  for item in navblock.item.all %}
                            {% if item.order != 0 %}
                                <li class=""><a href="#{{ item.content }}"><span>{{ item.title }}</span></a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="nav-bg dark"></div>
        </nav>
    <div id="wrap">
        <header id="header-slogan-border" class="pt-150 pb-150 text-center light" >
            <div class="container">
                <div class="row flex-md-vmiddle">
                    <div class="">
                        <div class="border-box padding-box mb-100 mt-100" style="border-color:#222;">
                            <h1 class="my-5"><span class="text-uppercase">{{ block1.title|safe }}</span>
                            </h1>
                        </div>
                        <p class="h3">{{ block1.content }}</p>
                    </div>
                </div>
            </div>
            <div class="bg" {% if block1.picture %}style="background-image: url('/static/{{ block1.picture.url }}');"{% endif %}></div>
        </header>
        <section id="desc-center-text" class="pt-125 pb-150 dark text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h2 class="mb-25" data-aos="fade" data-aos-easing="linear" data-aos-duration="500"
                            data-aos-delay="0" data-aos-once="true"><span
                                class="text-uppercase"><strong>{{ block2.title }}</strong></span></h2>
                        <h3 class="mb-75" data-aos="fade" data-aos-easing="linear" data-aos-duration="500"
                            data-aos-delay="0" data-aos-once="true"><em>{{ date }}{% if place is not None %}<br>{{ place.content }}{% endif %}</em></h3>
                        <p data-aos="fade" data-aos-easing="none" data-aos-duration="500" data-aos-delay="100"
                           data-aos-once="true">
                            {{ block2.content|safe }}
                        </p>
                    </div>

                </div>
            </div>
            <div class="bg" {% if block2.picture %}style="background-image: url('/static/{{ block2.picture.url }}');"{% endif %}></div>
        </section>
        <section id="benefit-center-text-4col" class="pt-150 pb-150 text-center light">
            <div class="container">
                <h2 data-aos="fade" data-aos-easing="none" data-aos-duration="500" data-aos-delay="0"
                    data-aos-once="true">{{ block3.title }}</h2>
                <p class="compressed-box-50 mb-75" data-aos="fade" data-aos-easing="none" data-aos-duration="500"
                   data-aos-delay="0" data-aos-once="true">{{ block3.content }}</p>
                <div class="row">
                    {% for item in block3.item.all %}
                    {% if item.order == 1 %}
                    <div class="col-md-3">
                        <div class="card card-simple" data-aos="stretch-left" data-aos-easing="linear"
                             data-aos-duration="500" data-aos-delay="0" data-aos-once="true">
                            <i class="card-icon icon-size-xl icon-register icon-color mb-25"></i>
                            <h3 class="">{{ item.order }}. {{ item.title }}</h3>
                            <p class="mb-25">{{ item.content|safe }}
                                <a href="tel:{{ settings.phone }}">{{ settings.phone }}</a>
                            </p>
                        </div>
                    </div>
                    {% endif %}
                    {% if item.order == 2 %}
                    <div class="col-md-3">
                        <div class="card card-simple" data-aos="stretch-left" data-aos-easing="linear"
                             data-aos-duration="500" data-aos-delay="0" data-aos-once="true">
                            <i class="card-icon icon-size-xl icon-music icon-color mb-25"></i>
                            <h3 class="">{{ item.order }}. {{ item.title }}</h3>
                            <p class="mb-25">{{ item.content }}</p>
                        </div>
                    </div>
                        {% endif %}
                        {% if item.order == 3 %}
                    <div class="col-md-3">
                        <div class="card card-simple" data-aos="stretch-right" data-aos-easing="linear"
                             data-aos-duration="500" data-aos-delay="0" data-aos-once="true">
                            <i class="card-icon icon-size-xl icon-user icon-color mb-25"></i>
                            <h3 class="">{{ item.order }}. {{ item.title }}</h3>
                            <p class="mb-25">{{ item.content }}</p>
                        </div>
                    </div>
                        {% endif %}
                        {% if item.order == 4 %}
                    <div class="col-md-3">
                        <div class="card card-simple" data-aos="stretch-right" data-aos-easing="linear"
                             data-aos-duration="500" data-aos-delay="0" data-aos-once="true">
                            <i class="card-icon icon-size-xl icon-gift2 icon-color mb-25"></i>
                            <h3 class="">{{ item.order }}. {{ item.title }}</h3>
                            <p class="mb-25">{{ item.content }}</p>
                        </div>
                    </div>
                        {% endif %}
                {% endfor %}
                </div>
{#                {% if btn %}#}
                    <button class="btn btn-primary mt-50" type="button" data-toggle="modal" data_id="1" data-target="#popup-center-form">
                        <span><strong>Зарегистрироваться</strong></span>
                    </button>
{#                {% endif %}#}
            </div>
            <div class="bg" {% if block3.picture %}style="background-image: url('/static/{{ block3.picture.url }}');"{% endif %}></div>
        </section>
        <section id="action-text-phone" class="pt-100 pb-100 light">
            <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                        <h2 data-aos="stretch-left" data-aos-easing="none" data-aos-once="true" data-aos-duration="500"
                            data-aos-delay="0">{{ block4.title }}</h2>
                    </div>
                    <div class="text-md-right">
                        <h4 data-aos="stretch-right" data-aos-easing="none" data-aos-once="true" data-aos-duration="500"
                            data-aos-delay="0">
                            <mark class="phone"><a href="tel:{{ settings.phone }}"><strong>{{ settings.phone }}</strong></a></mark>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="bg parallax-bg skrollable-before" data-top-bottom="transform:translate3d(0px, 25%, 0px)"
                 data-bottom-top="transform:translate3d(0px, -25%, 0px)"  {% if block4.picture %}style="background-image: url('/static/{{ block4.picture.url }}');"{% endif %}></div>
        </section>
        <section id="gallery-list-2col-mix" class="pt-100 pb-100 text-center light">
            <div class="container">
                <h3 data-aos="fade" data-aos-easing="none" data-aos-once="true" data-aos-duration="500"
                    data-aos-delay="0">{{ block5.title }}</h3>
                <h2 class="mb-75" data-aos="fade" data-aos-easing="none" data-aos-once="true" data-aos-duration="500"
                    data-aos-delay="0"><strong>{{ block5.subtitle }}</strong></h2>
                <div class="row gallery">
                            <div class="col-md-6">
                                <a href="static/{{ photo1.picture.url }}" class="gallery-box" data-aos="stretch-left"
                                   data-aos-easing="none" data-aos-once="true" data-aos-duration="500" data-aos-delay="0">
                                    <i class="icon icon-size-m icon-plus"></i>
                                    <span class="caption">{{ photo1.title }}</span>
                                    <img src="static/{{ photo1.picture.url }}" alt="screen">
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a href="static/{{ photo2.picture.url }}" class="gallery-box" data-aos="stretch-right"
                                   data-aos-easing="none" data-aos-once="true" data-aos-duration="500" data-aos-delay="0">
                                    <i class="icon icon-size-m icon-plus"></i>
                                    <span class="caption">{{ photo2.title }}</span>
                                    <img src="static/{{ photo2.picture.url }}" alt="screen">
                                </a>
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="static/{{ photo3.picture.url }}" class="gallery-box" data-aos="stretch-left"
                                       data-aos-easing="none" data-aos-once="true" data-aos-duration="500"
                                       data-aos-delay="0">
                                        <i class="icon icon-size-m icon-plus"></i>
                                        <span class="caption">{{ photo3.title }}</span>
                                        <img src="static/{{ photo3.picture.url }}" alt="screen">
                                    </a>
                                </div>
                                <div class="col-md-6">
                                    <a href="static/{{ photo4.picture.url }}" class="gallery-box"
                                       data-aos="stretch-right" data-aos-easing="none" data-aos-once="true"
                                       data-aos-duration="500" data-aos-delay="0">
                                        <i class="icon icon-size-m icon-plus"></i>
                                        <span class="caption">{{ photo4.title }}</span>
                                        <img src="static/{{ photo4.picture.url }}" alt="screen">
                                    </a>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="bg" {% if block5.picture %} style="background-image: url('/static/{{ block5.picture.url }}');"{% endif %}></div>
        </section>
        <footer id="footer-logo-share-subscribe" class="dark pt-100 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-sm-6">
                                {{ block6.item.all.0.content|safe }}
                            </div>
                            <div class="col-sm-3">
                                <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A24fd9f3b42226978ad501fc28d72d8cada538c29e6a2d8e8e2b6db5ff6ceba60&amp;width=354&amp;height=252&amp;lang=ru_RU&amp;scroll=true"></script>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg"></div>
        </footer>
    </div>
    <footer></footer>
    {% include 'includes/modals.html' %}
{% endblock %}