<div class="modal-container">
{#        <section class="modal fade modal-confirm flex-center" id="popup-list-form" tabindex="-1" role="dialog"#}
{#                 aria-hidden="true" style="display: none;">#}
{#            <div class="modal-dialog modal-lg">#}
{#                <div class="modal-content light">#}
{#                    <div class="modal-header">#}
{#                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span#}
{#                                aria-hidden="true">×</span></button>#}
{#                    </div>#}
{#                    <div class="modal-body">#}
{#                        <div class="row">#}
{#                            <div class="col-md-6">#}
{#                                <h2 class="mb-30">Drop us a line</h2>#}
{#                                <p class="mb-30">In our work we try to use only the most modern, convenient and#}
{#                                    interesting solutions. We want the template you downloaded look unique and new for#}
{#                                    such a long time as it is possible.</p>#}
{#                                <ul class="text-icon-list">#}
{#                                    <li><i class="icon-map2 icon-size-m"></i><span>Our Location Address</span></li>#}
{#                                    <li><i class="icon-at-sign icon-size-m"></i><span>Our Email</span></li>#}
{#                                    <li><i class="icon-phone-incoming icon-size-m"></i><span>Our Phone</span></li>#}
{#                                    <li><i class="icon-clock icon-size-m"></i><span>Our Work Hours</span></li>#}
{#                                </ul>#}
{#                            </div>#}
{#                            <div class="col-md-6">#}
{#                                <form action="../../static/scripts/request.php" class="contact_form mb-0"#}
{#                                      novalidate="novalidate" id="popup-list-form-form">#}
{#                                    <div class="form-group">#}
{#                                        <input type="text" class="form-control" placeholder="Full name" name="NAME">#}
{#                                    </div>#}
{#                                    <div class="form-group">#}
{#                                        <input type="email" class="form-control" placeholder="Email Address"#}
{#                                               name="EMAIL">#}
{#                                    </div>#}
{#                                    <div class="form-group">#}
{#                                        <textarea class="form-control" rows="6" placeholder="Your message or question"#}
{#                                                  name="MESSAGE"></textarea>#}
{#                                    </div>#}
{#                                    <button type="submit" data-loading-text="•••" data-complete-text="Completed!"#}
{#                                            data-reset-text="Try again later..." class="btn btn-success btn-block"><i#}
{#                                            class="icon-paper-plane icon-position-left icon-size-m"></i><span>Send Message</span>#}
{#                                    </button>#}
{#                                </form>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="bg"></div>#}
{#                </div>#}
{#            </div>#}
{#        </section>#}
        <section class="modal fade modal-confirm flex-center" id="popup-center-form" tabindex="-1" role="dialog"
                 aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content text-center light">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body">
                        <h2 class="mb-30">Заявка на участие</h2>
                        <p class="small mb-30">Заполните ФИО и контактный телефон, чтобы наш администратор смог внести Вас в список участников проекта.</p>
                        <p class="small mb-30 text-muted">Введённые данные используются только для обратной связи.<br>Сервис не хранит и не передаёт третьим лицам Ваши ФИО и номер телефона.</p>
                        <form method="post" action="/registry" class="contact_form mb-0"
                              id="popup-center-form-form" novalidate="novalidate">{% csrf_token %}
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Имя Фамилия" name="name" id="nameinput" oninput="fio(this.id)" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Телефон" name="tel" id="telinput" oninput="teln(this.id)" required>
                            </div>
{#                            <div class="form-group">#}
{#                                <textarea class="form-control" rows="3" placeholder="Комментарий или вопрос"#}
{#                                          name="MESSAGE"></textarea>#}
{#                            </div>#}
                            <div id="btntitle">
                                <button type="submit" data-loading-text="•••" data-complete-text="Готово! Администратор свяжется с Вами для уточнения информации."
                                        data-reset-text="Ошибка, пожалуйста, повторите попытку позднее..." class="btn btn-primary btn-block"><i
                                        class="icon-paper-plane icon-position-left icon-size-m"></i><span>Отправить заявку</span>
                                </button>
                            </div>
                            <div id="errormsg"></div>
                        </form>
                    </div>
                    <div class="bg"></div>
                </div>
            </div>
        </section>
    </div>